body {
    text-align: center;
}

h1 {
    font-size: 28px;
    margin: 20px;
    color: red;
    font-weight: bold;
}

p {
    border: 1px solid black;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}
